# Ignore everything by default
*

# But keep printer_data itself
!/

# Allow the config folder
!config/
!config/**

# Allow history folder (printer stats, logs snapshots)
!history/
!history/**

# Allow the orcaslicer folder
!orcaslicer/
!orcaslicer/**

# Keep .gitignore tracked
!.gitignore

# Keep docs tracked
!README.md
!AUTOPUSH.md

# Extra ignores inside config
config/*.swp
config/*.bkp
config/*-backup.cfg
config/printer-*.cfg
config/crowsnest.conf.*
config/moonraker-sql.db
